<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.DiveIn">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.example.DiveIn.ApplicationClass"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name="com.example.DiveIn.SplashActivityActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.DiveIn.recycle"
            android:exported="false"
            android:launchMode="singleTop"/>
        <activity
            android:name="com.example.DiveIn.moveplaylist"
            android:exported="false" />
        <activity
            android:name="com.example.DiveIn.firstview"
            android:exported="false">

        </activity>
        <activity
            android:name="com.example.DiveIn.MainActivity"
            android:exported="false"
            android:parentActivityName="com.example.DiveIn.firstview" />

        <service
            android:name="com.example.DiveIn.MusicService"
            android:enabled="true" />

        <receiver
            android:name="com.example.DiveIn.NotificationReciver2"
            android:enabled="true">
            <intent-filter>
                <action android:name="actionnext" />
                <action android:name="actionplay" />
                <action android:name="actionprevious" />
            </intent-filter>
        </receiver>

        <receiver android:name="androidx.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>